[Unit]
Description=Vamp Terminal Linux Host
After=network-online.target

[Service]
Type=simple
ExecStart=@BIN_PATH@
Restart=on-failure
RestartSec=3

[Install]
WantedBy=default.target
